html, body {
    height: 100%;
}

body {
    font-family: 'Alegreya Sans', sans-serif;
}

.container {
    height: 100%;
}

.sidebar {
    background-color: #eeeeee !important;
    width: 270px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
}

.content {
    position: absolute;
    left: 270px;
}

.sidebar, .content {
    height: 100%;
    padding: 0;
}

.sidebar__header {
    height: 50px;
    padding: 10px;
}

.sidebar__header h1 {
    margin-top: 0;
}

.sd {
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
}

.sd-item__link {
    display: block;
    margin: 5px 0;
    text-decoration: none;
    border-bottom: 1px solid #909090;
}

.sd-item__link:hover {
    text-decoration: none;
}

.c-cart {
    background-color: #dfdfdf;
    padding: 12px;
}

.c-cart__previews {
}

.simple {
    width: 100px;
    height: 100px;
    background-color: #2b669a;
    margin-right: 12px;
    flex-shrink: 0;
    float: left;
}

.simple--big {
    width: 300px;
    height: 400px;
    margin-bottom: 12px;
}

.c-wrapper {
    height: calc(100% - 150px);
    padding: 12px;
    box-sizing: border-box;
}

.c-wrapper__header {
    width: 100%;
}

.c-wrapper__products {
}

.c-wrapper__products .simple {
    float: left;
}